# Latex Aux, log files
*.aux
*.out
*.log
*.fls
*.toc
*.synctex.gz
*.png
*.jpg
*.txt


# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride


